{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info">
        <li clas="nav-item">
          <a class="nav-link link-light" href="{% url 'main' %}">HOME</a>
        </li>
        <li clas="nav-item">
          <a class="nav-link link-light" href="{% url 'members' %}">MEMBERS</a>
        </li>
      </ul>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
